<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item">First Column</li>
                <li class="list-group-item">Second Column</li>
                <li class="list-group-item">Third Column</li>
            </div>
        </div>
    </div>
</div>
<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="">

<p><%= campground.description %></p>
<a class="btn btn-success" href="/campgrounds/ <%= campground._id %>/comment/new">Add a new comment</a>

<% campground.comments.forEach(comment => { %>
<p>
    <strong><%= comment.author%></strong> - <%= comment.text %>
</p>
<% }); %>



<% include ../partials/footer %>