<% include partials/header %>

<h1><%= Campground.name %></h1>

<img src="<%= Campground.image %>" alt="">

<p><%= Campground.description %></p>

<% campground.comments.forEach(comment => { %>
<p>
    <strong><%= comment.author%></strong> - <%= comment.text %>
</p>
<% }); %>



<% include partials/footer %>